.main-header {
  margin-left: 0;
  width: 100%;

 &-nav {
   margin-bottom: 10px;

   @include breakpoint(medium) {
     margin: 0;
   }

  &-list {
    list-style: none;
    margin: 0;
    padding: 5px;
    text-transform: uppercase;

    &:hover,
    &.active {
      color: $primary;
      font-weight: bold;
    }
  }
 }
 
 &-logo {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 150px;

    @include breakpoint(medium) {
      margin: 0;
    }
  }
 }
}