.main-header {
  margin-left: 0;
  width: 100%;

 &-nav {
   margin-bottom: 10px;

  &-list {
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 5px;
  }
 }
 
 &-logo {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;

    @include breakpoint(medium) {
      margin-top: auto;
      margin-bottom: auto;
      width: 100%;
    }
  }
 }
}