.model-3d {
  background: radial-gradient(circle, #630b1c 0%, $black 50%);
  height: 100%;
  width: 100%;

  .model {
    canvas {
      margin-left: auto;
      margin-right: auto;
      
      @include breakpoint(large) {
        max-height: 882px;
      }
    }
  }
}