button, a {
  background-color: transparent;
  border: 0;
  color: $white;
  font: $font;
  margin: 0;
  outline: none;
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  &.primary {
    &:hover {
      color: $primary;
    }
  }
}

a {
  color: $primary;

  &:hover {
    color: $secondary;
    cursor: pointer;
  }
}