//colors
$primary: #d1173c;
$secondary: #7d797a;
$white: #fbfbfb;
$black: #010101;
$font-color: #333333;
$bg: $black;
$bg-op: rgba(0, 0, 0, 0.3);

// breakpoints
$breakpoints: (small: 320px, medium: 768px, large: 1024px);
