// grid
@import '~flexboxgrid/dist/flexboxgrid.min.css';
// globals
@import './globals/variables';
@import './globals/fonts';
@import './globals/buttons';

// components
@import './components/model3d';
@import './components/header';
@import './components/window';

body {
  background-color: $bg;
  color: $font-color;
  font: $font;
  margin: 0;
  height: 100%;
  width: 100%;

  .three-d {
    background: radial-gradient(circle, #630b1c 0%, $black 70%);
    height: 100%;
    position: relative;
    width: 100%;
  }
}