// grid
@import '~flexboxgrid/dist/flexboxgrid.min.css';
// globals
@import './globals/variables';
@import './globals/fonts';
@import './globals/buttons';
@import './globals/mixins';
@import './globals/animations';

// components
@import './components/model3d';
@import './components/header';
@import './components/window';

body {
  background: url('../../assets/img/bg.jpg') $bg bottom no-repeat;
  background-size: cover;
  color: $font-color;
  font: $font;
  margin: 0;
  height: 100%;
  width: 100%;

  .three-d {
    background-image: radial-gradient(at 50% 50%, rgba(158, 10, 42, 0.9) 10%, rgba(10, 11, 19, 0.97) 60%);
    height: 100%;
    position: relative;
    width: 100%;
  }
}